/*{outline: 1px solid limegreen;}*/
/*@import url('https://fonts.googleapis.com/css?family=Alegreya|Lato');*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Iceland');

body{font-family: 'Alegreya', serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Lato', sans-serif;}
h2 {font-size: 1.35rem;}
p {line-height: 1.25em;}
/* comments*/

.center {
  word-spacing: 20px;
  font-size: 2em;
  margin-right: 48px;
}

.grid-container {
  /* border: 1px solid red; */
  height:258px;
  width:748px;
  max-width: 100%;
  padding-left: 0;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-179px; /* this is half the height of your div*/
  margin-left:-374px; /*this is half of width of your div*/
}

 nav, img, .lining {
  /* border: 1px solid red; */
}

nav {
  width: 620px;
  height: 130px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-75px; /* this is half the height of your div*/
  margin-left:-310px; /*this is half of width of your div*/
  z-index: +1;
}

footer {
  text-align: center;
  height: 200px;
  width: 748px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 129px;
  margin-left: -374px;
}

.undernav {
  height: 100px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: 50px;
  /* border: 1px solid red; */
}

pre {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 30px;
  color: pink;
}

.front {
  z-index: 5 !important;
}

nav ul {
    padding: 0;
    /* text-align: center; */

}
nav li {
    list-style: none;
    font-size: 3em;
    display: inline;
}
a:link,a:visited {

    display: inline-block;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    color:#FFFFFF;
    background-color: none;
    text-align:center;
    padding:10px;
    text-decoration:none;
    text-transform:uppercase;
    font-family: 'Iceland';
    margin-top: 15px;
}
a:hover {
    opacity: 0.5;
}

html, nav, body {
  background-color: white;
}



/* /////ALIEN SHIP////// */

@keyframes alien {
    0%   {left:0px; top:0px;}
    25%  {left:684px; top:0px;}
    50%  {left:684px; top:194px;}
    75%  {left:0px; top:194px;}
    100% {left:0px; top:0px;}
}

.alien {
    position: relative;
    left: 0;
    animation-name: alien;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    /*animation-direction: alternate;*/
}



/* /////NAV GLOWING///// */

/* ONE */
@keyframes glowing {
  0% { box-shadow: 0 0 -20px black; }
  40% { box-shadow: 0 0 30px black; }
  60% { box-shadow: 0 0 30px black; }
  100% { box-shadow: 0 0 -20px black; }
}

.navglow {
  animation-name: glowing;
  animation: glowing 4000ms infinite;
}

/* /////NAV BACKGROUND COLORS///// */

.limegreen {
  background-color: limegreen;
}

.lightpink {
  background-color: lightpink;
}

.brown {
  background-color: brown;
}

.black {
  background-color: black;
}

/*li:nth-child(4n){color:red;}*/













/* /////PAGE TWO///// */

@import "https://fonts.googleapis.com/css?family=Rubik+Mono+One";
body {
  background-color:white;
  overflow-x: hidden;
  font-family: 'Rubik Mono One', sans-serif;
  padding: 120px;
  text-align: center;
}

span {
  margin-right: 48px;
}

.words {
  color: white;
  font-size: 0;
  line-height: 1;
  text-align: center;
}
.words span {
  font-size: 30px;
  display: inline-block;
  -webkit-animation: move 1s ease-in-out 1;
          animation: move 1s ease-in-out 1;
          animation-fill-mode: forwards;
}
.words span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.words span:nth-child(3) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}
.words span:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.words span:nth-child(5) {
  -webkit-animation-delay: 2.0s;
          animation-delay: 2.0s;
}

.words span:nth-child(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-33%, 0);
            transform: translate(-33%, 0);
            color: white;
  }
  50% {
    text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  }
  100% {
    /* -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0); */
            color: pink;
  }
}


/* ///SMILE/// */

@keyframes pop{
  50%  {transform: scale(1.4);}
}

#pop {
  animation: pop 1s linear infinite;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s
}




/* .header {
  line-height: 150px;
  text-align: center;
  transition-property: all;
  transition-duration: 3s, 1s;
  transition-timing-function: linear;
  transition-delay: 0;
  animation-name: play;
  -webkit-animation: play 5s infinite;
  animation-play-state:paused;
  animation-iteration-count:infinite;
      }

.header:hover{
  font-size: 35px;
  background-color: tan;
  word-spacing: 10px;
  font-weight: bold;
  animation-play-state:running;
}

@keyframes play{
  50% {transform:rotate(36deg);}
  } */

  #loading {
  		-webkit-animation: rotation 5s infinite linear;
  }

  @-webkit-keyframes rotation {
  		from {
  				-webkit-transform: rotate(0deg);
  		}
  		to {
  				-webkit-transform: rotate(359deg);
  		}
  }

.centerbox {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: -144px;
}


.centerbox2 {
  /* text-align: center;
  width: 500px;*/
  font-size: 20px;
  color: brown;
}

.spacing {
  word-spacing: 90px;
}






.black {
  background-color: black;
}

.white {
  color: white;
}





/* /////BIRD////// */

@keyframes bird {
    0%   {left:0px; top:0px;}
    100% {left:0px; top:120px;}
}

.bird {
  margin-left: 500px;
  margin-top: -300px;
    position: relative;
    left: 0;
    animation-name: bird;
    animation-duration: 1.39s;
    animation-delay: 0;
    animation-iteration-count: infinite;
}
